<h2 class="mx-5">Pokemon details</h2>
<div class="mx-5">
    <p><strong>id </strong>{{pokemon.id}}</p>
    <p><strong>name </strong>{{pokemon.name}}</p>
    <p><strong>type </strong>{{pokemon.type}}</p>
</div>