<h2 class="mx-5">Videogame details</h2>
<div class="mx-5">
    <p><strong>id</strong>{{videogames.id}}</p>
    <p><strong>distributor</strong>{{videogames.distributor}}</p>
    <p><strong>type</strong>{{videogames.type}}</p>
    <p><strong>name</strong>{{videogames.name}}</p>
</div>